# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# DB
*.sqlite3
*.db
backend/hackathon.db

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
